* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: #f4f5fd;
}

@font-face {
    font-family: "Signika-regular";
    src: url("fonts/Signika-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Signika-light";
    src: url("fonts/Signika-Light.ttf");
    font-weight: normal;
    font-style: normal;
}


p, a, span, h1, h2, h3, h4, h5, h6, ul, li {
font-family: "Signika-regular", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
margin:0;
padding:0;
color: #3c5361;
color: #354773;
}

.progress-bar {
  display: none;
  position: fixed;
  width: 100%;
  height: 6px;
  top: 0;
  z-index: 9999;
}

.progress-bar__filling {
  width: 0;
  height: 100%;
  background-color: #0091ea;
}

.myeffect, .myeffect2, .myeffect3 {
  animation-timing-function: cubic-bezier(.2,1,.2,1);
  opacity: 0;
  will-change: transform,opacity;
  transform: perspective(800px) rotateX(-60deg) translateY(50px);
  animation-duration: 1.50s;
  animation-name: fade-content;
  animation-fill-mode: forwards;

  -webkit-animation-timing-function: cubic-bezier(.2,1,.2,1);
  -webkit-will-change: transform,opacity;
  -webkit-transform: perspective(800px) rotateX(-60deg) translateY(50px);
  -webkit-animation-duration: 1.50s;
  -webkit-animation-name: fade-content;
  -webkit-animation-fill-mode: forwards;

  }

.myeffect {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
.myeffect2 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6;
}
.myeffect3 {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8;
}

  @keyframes fade-content {
      to {
          opacity: 1;
          -webkit-transform: none;
                  transform: none
      }
  }


    @-webkit-keyframes fade-content {
        to {
            opacity: 1;
            -webkit-transform: none
        }
    }




a {
text-decoration: none;
}

.container {
  width:100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}


header {
width: 100%;
background: #dde8f7 url('../img/bg-header.png') no-repeat;
background-position: 80% 150%;
background-size: 100%;
height: 720px;
position: relative;
}


.aaa {
  background: #fff;
  max-width: 830px;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  display: -webkit-flex;
  -webkit-justify-content: space-between;
}

.sidebar {
  margin-top: 50px;
  width: 310px;
}

.sidebar-box {
  background: #fff;
  position: relative;
  margin-bottom: 25px;
}

.sidebar-box h3 {
    font-family: "Signika-regular", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 20px;
}

.sidebar-box h3::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 4px;
  background: #df5537;
  left:20px;
  top:43px;
}

.sidebar-box span {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  padding: 20px 20px 30px 20px;
}

.sidebar-box span::before {
  content: '';
  position: absolute;

}

.sidebar-box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  display: -webkit-flex;
  -webkit-align-items: center;
}
.sidebar-box-img img {
  width: 100px;
  height: 100px;
}

.sidebar-box-mark {
  position: absolute;
}

.sidebar-box-mark i {
  position: absolute;
  font-size: 2.5em;
  color: #F3F9FE;
  top:-10px;
  left: 20px;
}


.socialmedia img {
  width:34px;
  height: 34px;
}

.socialmedia ul {
padding-left: 20px;
padding-top: 10px;
padding-bottom: 25px;
}
.socialmedia ul li {
display: inline;
}
.socialmedia li {
  padding-right: 15px;
}




.popular-posts ul {
  list-style: none;
}

.popular-posts ul li {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  border-bottom: 1px solid #F2F6FE;
}

.popular-posts ul li:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}

.popular-posts ul li a {
 text-decoration: none;
 padding-left: 20px;
}

.popular-posts ul li a:hover {
 color: #df5537;
}


.newsletter {
  background: #354773;
}

.newsletter h3 {
  color: #ffffff;
}

.newsletter input {
padding: 10px;
width: 250px;
margin-left: 20px;
margin-top: 10px;
border-radius: 5px;
border: none;
font-size: 13px;
}

.newsletter input:focus {
  background: #dde8f7;
  color: #354773
}

.btn {
margin-top: 20px;
margin-left: 85px;
margin-bottom: 30px;
border-radius: 6px;
padding: 7px 22px;
font-size: 13px;
text-decoration: none;
color: #fff;
position: relative;
display: inline-block;
border: none;
cursor: pointer;
background-color: #df5537;
-webkit-box-shadow: 0px 4px 0px 0px #b7432a;
        box-shadow: 0px 4px 0px 0px #b7432a;
}


.btn:hover {
    background-color: white;
    -webkit-box-shadow: 0px 4px 0px 0px #ccc;
            box-shadow: 0px 4px 0px 0px #ccc;
    color: #df5537;
}


article {
  width: 100%;
  max-width: 385px;
  height: 360px;
  margin-bottom: 40px;
}
article h2, span, p {
    font-family: "Signika-light", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
article h2 {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 0;
}

article p {
  line-height: 25px;
}

article i {
color: #df5537;
}

article span {
  font-weight: normal;
  font-size: 13px;
  display: inline-block;
  padding-top: 15px;
}

article img {
  max-width: 100%;
}

.top-bar {
  width: 100%;
  max-width: 1170px;
  height: 60px;
  margin:0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  display: -webkit-flex;
  -webkit-align-items: center;
}
.brand, .menu {
 width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;

  display: -webkit-flex;
 }

 .brand {
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   -webkit-justify-content: flex-start;
 }

 .brand img { width: 160px; height: 33px;}

.menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
nav {
  z-index: 1;
}

nav ul.show {
  display: block;
}

nav ul li {
  display:inline-block;
  padding-left: 1.2em;
}

nav a {
  display:block;
  text-decoration: none;
  padding:0px;
 }

 nav ul li a:hover {
   border-bottom: 1px solid #df5537;
 }

.hamburger .menu-icon {
   display: none;
   font-size: 25px;
 }


.header-content {
  width:100%;
  height: 660px;
  max-width: 1170px;
  margin:0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.header-content h1 {
  font-family: "Signika-light", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  padding: 100px 0 20px 0;
}

.header-content p {
font-family: "Signika-light", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 1.2rem;
font-weight: 200;
padding: 0 340px;
line-height: 36px;
}

.orange {
color: #df5537;
}

.header-content img {
  width: 430px;
  position: absolute;
  top:42%;
  left: 50%;
   margin-left: -215px;
}


.wrap {
  width: 100%;
  height: auto;
}



footer {
width: 100%;
background: #dde8f7;
clear: both;
margin-top: 100px;
padding: 45px 0;
}

footer ul {
display: inline;
}

footer ul li {
padding-left: 0;
padding-right: 1.2em;
}
footer .fa-heart {
color: #fb3e54;
}















.karuzela {
background: #fff;
}
.carousel-wrap {
  margin: 0px auto;
  padding: 10px 0;
  width: 100%;
  max-width: 1170px;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-carousel .item img {
  width: 55px!important;
  height: 100px!important;
  padding: 20px 0;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}







   /* Extra Small Devices, Phones */
   @media only screen and (max-width : 768px) {
    .karuzela { display: none; }
     .container {
       width: 100%;
       margin:0;
       padding: 0px 25px 0px 25px;
     }

     .flex {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-orient: horizontal;
       -webkit-box-direction: normal;
           -ms-flex-flow: row wrap;
               flex-flow: row wrap;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;

       display: -webkit-flex;
       -webkit-justify-content: center;
     }




  header {
    height: 650px;
    background: #F4F7FA;
  }

     .header-content img {
       max-width: 100%;
       width: 250px;
       position: absolute;
       top:54%;
       left: 50%;
      margin-left: -125px;
     }

     .header-content p {

     padding: 0 20px;

   }

   .aaa {
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-justify-content: center;
   }

    article {
      margin-bottom: 20px;
    }
    footer {
      margin-top:0;
    }
     footer nav {
       display: none;
     }

          nav {
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: start;
             -ms-flex-pack: start;
                 justify-content: flex-start;

         display: -webkit-flex;
         -webkit-justify-content: flex-start;
          }

          nav ul {
          display: none;
          background: #dde8f7;
          margin-top: 7px;
          position: absolute;
          width: 100%;
          }
          nav ul li {
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #F4F7FA;;
          }


          nav ul li a:hover {
            border: none;
            color: #df5537;
          }

          .hamburger{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;

            display: -webkit-flex;
            -webkit-justify-content: flex-end;
          }
          .hamburger .menu-icon {
          display: inline-block;
          margin-right: 20px;
          }

          .brand, .hamburger {
          width: 50%;
          margin-top:0;
          }

          .brand img {
            margin-left: 20px;
          }

           .menu { width: 100%;}
          .top-bar {
           background: #fff;
           display: -webkit-box;
           display: -ms-flexbox;
           display: flex;
           -ms-flex-flow: wrap;
               flex-flow: wrap;
           -webkit-box-pack: justify;
               -ms-flex-pack: justify;
                   justify-content: space-between;

           display: -webkit-flex;
           -webkit-justify-content: space-between;
          }




   }

   @media only screen and (max-width : 480px) {
     .brand img {

       width: 135px;
       height: 28px;
     }

      }


   /* Custom, iPhone Retina */
   @media only screen and (max-width : 420px) {
     header {
       height: 550px;
     }
   .header-content h1 {
     font-size: 1.5rem;
     padding: 60px 10px 20px 10px;
   }
   .header-content img {
     top:45%;
   }

   .newsletter input {
     width: 100%;
   max-width: 220px;
 }

   }
